* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-image: url(pix.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    padding: 10px;
}

.cal-app {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.cal-app form input[type="button"] {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin: 8px;
    font-size: 20px;
}

.cal-app form input.equal {
    width: 140px;
}

.cal-app form input[type="text"] {

    width: 100%;
    height: 60px;
    padding:12px;
    border-radius: 10px;
    margin: 8px;
    font-size: 24px;

}